#s-a95354ba-f227-4c63-88e5-261d64710693 > #backgroundBox {
  position: absolute;
}
#s-a95354ba-f227-4c63-88e5-261d64710693 > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 780.0px;
  width: 100%;
  height: 100%;
}
#s-a95354ba-f227-4c63-88e5-261d64710693 #s-Image {
  position: absolute;
  width: 359.9999999999998px;
  height: 779.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a95354ba-f227-4c63-88e5-261d64710693 #s-Hotspot_1 {
  position: absolute;
  width: 63.999999999999886px;
  height: 117.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-a95354ba-f227-4c63-88e5-261d64710693 #s-Hotspot_2 {
  position: absolute;
  width: 81.00000000000028px;
  height: 138.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-a95354ba-f227-4c63-88e5-261d64710693 #s-Hotspot_3 {
  position: absolute;
  width: 74.00000000000023px;
  height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a95354ba-f227-4c63-88e5-261d64710693 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}