#s-eea6426b-e965-49b9-b7e5-f30ee9af3bae > #backgroundBox {
  position: absolute;
}
#s-eea6426b-e965-49b9-b7e5-f30ee9af3bae > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 780.0px;
  width: 100%;
  height: 100%;
}
#s-eea6426b-e965-49b9-b7e5-f30ee9af3bae #s-Image {
  position: absolute;
  width: 360.0000000000001px;
  height: 779.9999999999998px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-eea6426b-e965-49b9-b7e5-f30ee9af3bae #s-Hotspot_1 {
  position: absolute;
  width: 54.00000000000023px;
  height: 95.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-eea6426b-e965-49b9-b7e5-f30ee9af3bae #s-Hotspot_2 {
  position: absolute;
  width: 284.9999999999997px;
  height: 108.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-eea6426b-e965-49b9-b7e5-f30ee9af3bae #s-Hotspot_3 {
  position: absolute;
  width: 284.99999999999955px;
  height: 110.00000000000011px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-eea6426b-e965-49b9-b7e5-f30ee9af3bae #s-Hotspot_4 {
  position: absolute;
  width: 271.99999999999955px;
  height: 106.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-eea6426b-e965-49b9-b7e5-f30ee9af3bae #s-Hotspot_5 {
  position: absolute;
  width: 72.00000000000023px;
  height: 115.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-eea6426b-e965-49b9-b7e5-f30ee9af3bae > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}