#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f > #backgroundBox {
  position: absolute;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f > #backgroundBox > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 0.42;
  background-image: url('../../images/b4aa6abd-71c5-4308-9c38-293e7750a243.jpg');
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 780.0px;
  width: 100%;
  height: 100%;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  z-index: 100;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Panel_1 {
  width: 360.0px;
  height: 34.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_1 {
  position: absolute;
  width: 360.0px;
  min-height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #F3EDF7;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Path_1 {
  position: absolute;
  width: 15.0px;
  height: 11.920103073120117px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Path_2 {
  position: absolute;
  width: 13.0px;
  height: 13.0px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Path_3 {
  position: absolute;
  width: 7.0px;
  height: 7.699999809265137px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Path_4 {
  position: absolute;
  width: 7.0px;
  height: 6.299999237060547px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto',Arial;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Paragraph_1 span {
  color: #1C1B1F;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  letter-spacing: 0.4px;
  text-transform: none;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #1C1B1F;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  letter-spacing: 0.4px;
  text-transform: none;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Dynamic_Panel_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  z-index: 100;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Panel_2 {
  width: 359.0000000000002px;
  height: 48.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Panel_2 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_2 {
  position: absolute;
  width: 359.0px;
  min-height: 48.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Path_5 {
  position: absolute;
  width: 17.0px;
  height: 19.720354080200195px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Ellipse_1 {
  width: 20.0px;
  height: 20.0px;
  min-height: 20.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 4.0px;
  stroke: #000000;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #shapewrapper-s-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_3 {
  position: absolute;
  width: 19.0px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 2.0px;
  border-top-right-radius: 2.0px;
  border-bottom-right-radius: 2.0px;
  border-bottom-left-radius: 2.0px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_3 > .borderLayer {
  border-top-width: 2.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 2.0px;
  border-top-right-radius: 2.0px;
  border-bottom-right-radius: 2.0px;
  border-bottom-left-radius: 2.0px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 2.0px;
  border-top-right-radius: 2.0px;
  border-bottom-right-radius: 2.0px;
  border-bottom-left-radius: 2.0px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Image {
  position: absolute;
  width: 92.99999999999955px;
  height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Image_1 {
  position: absolute;
  width: 267.00000000000114px;
  height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Hotspot_1 {
  position: absolute;
  width: 92.99999999999648px;
  height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_9 {
  position: absolute;
  width: 305.74999999999994px;
  min-height: 336.4999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-6.123233995736766E-17px 1.0px 3px rgba(0,0,0,0.35));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_9 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_9 > .backgroundLayer > .colorLayer {
  background-color: #E7E0EC;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_9 > .borderLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_9 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_10 {
  position: absolute;
  width: 305.9999999999998px;
  min-height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto',Arial;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_10 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_10 > .backgroundLayer > .colorLayer {
  background-color: #F3EDF7;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_10 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_10 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 16px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_10 span {
  color: #5B6FDF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  letter-spacing: 0.15px;
  text-transform: none;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #5B6FDF;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  letter-spacing: 0.15px;
  text-transform: none;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_11 {
  position: absolute;
  width: 305.9999999999998px;
  min-height: 49.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto',Arial;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_11 > .backgroundLayer {
  border-top-left-radius: 2.0px;
  border-top-right-radius: 2.0px;
  border-bottom-right-radius: 2.0px;
  border-bottom-left-radius: 2.0px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_11 > .backgroundLayer > .colorLayer {
  background-color: #F3EDF7;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_11 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-top-left-radius: 2.0px;
  border-top-right-radius: 2.0px;
  border-bottom-right-radius: 2.0px;
  border-bottom-left-radius: 2.0px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_11 > .backgroundLayer {
  border-top-left-radius: 2.0px;
  border-top-right-radius: 2.0px;
  border-bottom-right-radius: 2.0px;
  border-bottom-left-radius: 2.0px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 16px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_11 span {
  color: #5B6FDF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  letter-spacing: 0.15px;
  text-transform: none;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #5B6FDF;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  letter-spacing: 0.15px;
  text-transform: none;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_12 {
  position: absolute;
  width: 305.9999999999998px;
  min-height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto',Arial;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_12 > .backgroundLayer {
  border-top-left-radius: 2.0px;
  border-top-right-radius: 2.0px;
  border-bottom-right-radius: 2.0px;
  border-bottom-left-radius: 2.0px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_12 > .backgroundLayer > .colorLayer {
  background-color: #F3EDF7;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_12 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-top-left-radius: 2.0px;
  border-top-right-radius: 2.0px;
  border-bottom-right-radius: 2.0px;
  border-bottom-left-radius: 2.0px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_12 > .backgroundLayer {
  border-top-left-radius: 2.0px;
  border-top-right-radius: 2.0px;
  border-bottom-right-radius: 2.0px;
  border-bottom-left-radius: 2.0px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 16px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_12 span {
  color: #5B6FDF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  letter-spacing: 0.15px;
  text-transform: none;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #5B6FDF;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  letter-spacing: 0.15px;
  text-transform: none;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_13 {
  position: absolute;
  width: 305.9999999999998px;
  min-height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto',Arial;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_13 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_13 > .backgroundLayer > .colorLayer {
  background-color: #F3EDF7;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_13 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_13 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 16px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_13 span {
  color: #5B6FDF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  letter-spacing: 0.15px;
  text-transform: none;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #5B6FDF;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  letter-spacing: 0.15px;
  text-transform: none;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Input_2 input::-webkit-input-placeholder {
  color: #5B6FDF;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Input_2 input::-moz-placeholder {
  color: #5B6FDF;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Input_2 input:-moz-placeholder {
  color: #5B6FDF;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Input_2 input:-ms-input-placeholder {
  color: #5B6FDF;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Input_2 {
  position: absolute;
  width: 306.0px;
  height: 56.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Input_2 .valign {
  vertical-align: middle;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Input_2 input {
  color: #1C1B1F;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 16.5pt;
  font-weight: 400;
  letter-spacing: 0.15px;
  text-transform: none;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Input_2 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Input_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #79747E;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #79747E;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #79747E;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #79747E;
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Input_2 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Input_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 16px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Path_7 {
  position: absolute;
  width: 10.0px;
  height: 5.0px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_14 {
  position: absolute;
  width: 305.9999999999998px;
  min-height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto',Arial;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_14 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_14 > .backgroundLayer > .colorLayer {
  background-color: #F3EDF7;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_14 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_14 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 16px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_14 span {
  color: #5B6FDF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  letter-spacing: 0.15px;
  text-transform: none;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #5B6FDF;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  letter-spacing: 0.15px;
  text-transform: none;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Hotspot_2 {
  position: absolute;
  width: 306.0000000000004px;
  height: 46.39816091954026px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Hotspot_3 {
  position: absolute;
  width: 267.00000000000205px;
  height: 100.47264367816086px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Hotspot_4 {
  position: absolute;
  width: 306.00000000000057px;
  height: 43.3434482758621px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Hotspot_5 {
  position: absolute;
  width: 301.50000000000136px;
  height: 40.45287356321842px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Hotspot_6 {
  position: absolute;
  width: 306.00000000000057px;
  height: 39.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Hotspot_7 {
  position: absolute;
  width: 301.50000000000136px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_5 {
  position: absolute;
  width: 305.9999999999998px;
  min-height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto',Arial;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #F3EDF7;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 16px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_5 span {
  color: #5B6FDF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  letter-spacing: 0.15px;
  text-transform: none;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #5B6FDF;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  letter-spacing: 0.15px;
  text-transform: none;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_6 {
  position: absolute;
  width: 305.9999999999998px;
  min-height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto',Arial;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_6 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #F3EDF7;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_6 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_6 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 16px;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_6 span {
  color: #5B6FDF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  letter-spacing: 0.15px;
  text-transform: none;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #5B6FDF;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  letter-spacing: 0.15px;
  text-transform: none;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Hotspot_8 {
  position: absolute;
  width: 302.7500000000005px;
  height: 42.44935028643283px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f #s-Hotspot_9 {
  position: absolute;
  width: 302.7500000000005px;
  height: 47.000000000000455px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-0f908da4-a879-4440-a8e4-73cf4c05fe8f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}