#s-c9825aa9-3169-493f-baea-4554c1aa7d29 > #backgroundBox {
  position: absolute;
}
#s-c9825aa9-3169-493f-baea-4554c1aa7d29 > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 780.0px;
  width: 100%;
  height: 100%;
}
#s-c9825aa9-3169-493f-baea-4554c1aa7d29 #s-Image {
  position: absolute;
  width: 359.99999999999955px;
  height: 779.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c9825aa9-3169-493f-baea-4554c1aa7d29 #s-Hotspot_1 {
  position: absolute;
  width: 262.0000000000002px;
  height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-c9825aa9-3169-493f-baea-4554c1aa7d29 #s-Hotspot_2 {
  position: absolute;
  width: 51.00000000000023px;
  height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-c9825aa9-3169-493f-baea-4554c1aa7d29 #s-Hotspot_3 {
  position: absolute;
  width: 64.99999999999977px;
  height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c9825aa9-3169-493f-baea-4554c1aa7d29 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}