#s-f5557a5d-5e71-463a-ba0f-a47752085ad4 > #backgroundBox {
  position: absolute;
}
#s-f5557a5d-5e71-463a-ba0f-a47752085ad4 > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 780.0px;
  width: 100%;
  height: 100%;
}
#s-f5557a5d-5e71-463a-ba0f-a47752085ad4 #s-Image {
  position: absolute;
  width: 359.99999999999955px;
  height: 779.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f5557a5d-5e71-463a-ba0f-a47752085ad4 #s-Hotspot_1 {
  position: absolute;
  width: 47.00000000000023px;
  height: 79.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-f5557a5d-5e71-463a-ba0f-a47752085ad4 #s-Hotspot_2 {
  position: absolute;
  width: 60.99999999999977px;
  height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-f5557a5d-5e71-463a-ba0f-a47752085ad4 #s-Hotspot_3 {
  position: absolute;
  width: 245.50000000000176px;
  height: 70.99999999999989px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-f5557a5d-5e71-463a-ba0f-a47752085ad4 #s-Hotspot_4 {
  position: absolute;
  width: 245.000000000003px;
  height: 70.99999999999989px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-f5557a5d-5e71-463a-ba0f-a47752085ad4 #s-Hotspot_5 {
  position: absolute;
  width: 252.25000000000108px;
  height: 70.99999999999989px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-f5557a5d-5e71-463a-ba0f-a47752085ad4 #s-Hotspot_6 {
  position: absolute;
  width: 245.00000000000136px;
  height: 92.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-f5557a5d-5e71-463a-ba0f-a47752085ad4 #s-Hotspot_7 {
  position: absolute;
  width: 245.00000000000244px;
  height: 71.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-f5557a5d-5e71-463a-ba0f-a47752085ad4 #s-Hotspot_8 {
  position: absolute;
  width: 245.00000000000296px;
  height: 85.99999999999983px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-f5557a5d-5e71-463a-ba0f-a47752085ad4 #s-Hotspot_9 {
  position: absolute;
  width: 245.000000000003px;
  height: 70.99999999999989px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-f5557a5d-5e71-463a-ba0f-a47752085ad4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}